Repository dynobo/normcap: changes, and which pre-commit hooks are due for each by the changed paths.
All: mdformat, pyupgrade, autoflake, isort, black, pydocstyle, bandit, safety, pylint, mypy, pytest, pydeps

.pre-commit-config.yaml:

# See https://pre-commit.com/ for usage and config
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.0.1
    hooks:
      - id: check-yaml
      - id: check-toml
      - id: end-of-file-fixer
        exclude: ".srt$"
      - id: trailing-whitespace
        exclude: ".srt$"
      - id: mixed-line-ending
  - repo: local
    hooks:
      - id: mdformat
        name: mdformat
        stages: [commit]
        language: system
        entry: poetry run mdformat --wrap 88
        types: [markdown]

      - id: pyupgrade
        name: pyupgrade
        stages: [commit]
        language: system
        entry: poetry run pyupgrade --py39-plus
        types: [python]

      - id: autoflake
        name: autoflake
        entry: poetry run autoflake
        language: system
        args:
          - --recursive
          - --in-place
          - --remove-all-unused-imports
          - --remove-unused-variables
          - --expand-star-imports
          - --exclude
          - __init__.py
          - --remove-duplicate-keys
        types: [python]

      - id: isort
        name: isort
        stages: [commit]
        language: system
        entry: poetry run isort --jobs=0 src/normcap src/tests/ package/
        types: [python]

      - id: black
        name: black
        stages: [commit]
        language: system
        entry: poetry run black src/normcap src/tests/ package/
        types: [python]

      - id: pydocstyle
        name: pydocstyle
        stages: [commit]
        language: system
        entry: poetry run pydocstyle src/normcap src/tests/ package/
        types: [python]
        pass_filenames: false

      - id: bandit
        name: bandit
        stages: [commit]
        language: system
        entry: poetry run bandit --quiet --severity-level medium -r src/normcap
        types: [python]
        pass_filenames: false

      - id: safety
        name: safety
        stages: [commit]
        language: system
        entry: poetry run safety check
        types: [python]
        pass_filenames: false

      - id: pylint
        name: pylint
        stages: [commit]
        language: system
        entry: poetry run pylint src/normcap src/tests package/
        types: [python]
        pass_filenames: false

      - id: mypy
        name: mypy
        stages: [commit]
        language: system
        entry: poetry run mypy
        types: [python]
        pass_filenames: false

      - id: pytest
        name: pytest
        stages: [commit]
        language: system
        entry:
          poetry run pytest src/tests/ -vv --cov --cov-report xml:cov.xml
          --cov-report html
        types: [python]
        pass_filenames: false

      - id: pydeps
        name: pydeps
        stages: [commit]
        language: system
        entry:
          poetry run pydeps src/normcap --max-bacon=2 --cluster
          --max-cluster-size=1 --no-show -o=dependency_graph.png -T=png
        types: [python]
        pass_filenames: false

Extend unit tests
  src/tests/tests_clipboard/__init__.py
  src/tests/tests_clipboard/test_clipboard.py
  src/tests/tests_clipboard/test_linux.py
  src/tests/tests_clipboard/test_macos.py
Due: pyupgrade, autoflake, isort, black, pydocstyle, bandit, safety, pylint, mypy, pytest, pydeps

Use rss feed to search for updates on gh releases
  src/normcap/clipboard/windows.py
  src/normcap/gui/models.py
  src/normcap/gui/update_check.py
  src/normcap/screengrab/utils.py
  src/tests/tests_clipboard/test_clipboard.py
  src/tests/tests_clipboard/test_linux.py
  src/tests/tests_screengrab/test_utils.py
Due: pyupgrade, autoflake, isort, black, pydocstyle, bandit, safety, pylint, mypy, pytest, pydeps

Poetry update
  package/platforms/macos_briefcase.py
  poetry.lock
  pyproject.toml
Due: pyupgrade, autoflake, isort, black, pydocstyle, bandit, safety, pylint, mypy, pytest, pydeps

Adjust patch
  package/platforms/linux_briefcase.py
  package/platforms/macos_briefcase.py
  package/platforms/utils.py
Due: pyupgrade, autoflake, isort, black, pydocstyle, bandit, safety, pylint, mypy, pytest, pydeps

Increase verbosity
  .github/workflows/python.yaml
  package/platforms/macos_briefcase.py
  pyproject.toml
Due: pyupgrade, autoflake, isort, black, pydocstyle, bandit, safety, pylint, mypy, pytest, pydeps

Migrate to poetry 1.2 and update deps
  .github/workflows/python.yaml
  poetry.lock
  pyproject.toml
Due: none

Remove unnecessary signals; Rename
  src/normcap/gui/tray.py
  src/normcap/gui/window.py
Due: pyupgrade, autoflake, isort, black, pydocstyle, bandit, safety, pylint, mypy, pytest, pydeps

Add changelog entry
  CHANGELOG.md
Due: mdformat

Fix wrong path to debug log on Windows
  CHANGELOG.md
  docs/index.html
Due: mdformat

Refactor environement prep
  src/normcap/app.py
  src/normcap/utils.py
  src/tests/test_utils.py
Due: pyupgrade, autoflake, isort, black, pydocstyle, bandit, safety, pylint, mypy, pytest, pydeps

Check for update only once per week
  CHANGELOG.md
  src/normcap/gui/constants.py
  src/normcap/gui/tray.py
  src/normcap/gui/update_check.py
  src/tests/test_utils.py
  src/tests/tests_gui/test_update_check.py
Due: mdformat, pyupgrade, autoflake, isort, black, pydocstyle, bandit, safety, pylint, mypy, pytest, pydeps

Fix potential crash on exit on macOS
  .gitignore
  src/normcap/gui/tray.py
Due: pyupgrade, autoflake, isort, black, pydocstyle, bandit, safety, pylint, mypy, pytest, pydeps

Add changelog entry
  CHANGELOG.md
  src/normcap/gui/tray.py
Due: mdformat, pyupgrade, autoflake, isort, black, pydocstyle, bandit, safety, pylint, mypy, pytest, pydeps

Update deps
  .github/workflows/python.yaml
  CHANGELOG.md
  package/platforms/utils.py
  package/platforms/windows_briefcase.py
  poetry.lock
  pyproject.toml
  src/normcap/gui/settings_menu.py
  src/normcap/gui/utils.py
  src/tests/integration/test_normcap.py
Due: mdformat, pyupgrade, autoflake, isort, black, pydocstyle, bandit, safety, pylint, mypy, pytest, pydeps

Use coveralls action
  .github/workflows/python.yaml
Due: none

Update actions
  .github/workflows/python.yaml
  package/platforms/windows_briefcase.py
  poetry.lock
Due: pyupgrade, autoflake, isort, black, pydocstyle, bandit, safety, pylint, mypy, pytest, pydeps

Update changelog
  CHANGELOG.md
Due: mdformat

Bump to 0.3.13
  README.md
  docs/index.html
  package/normcap.wxs
  pyproject.toml
  src/normcap/__init__.py
Due: mdformat, pyupgrade, autoflake, isort, black, pydocstyle, bandit, safety, pylint, mypy, pytest, pydeps

Fix python version categories
  pyproject.toml
Due: none

Pin py version and update deps
  poetry.lock
  pyproject.toml
Due: none

Fix poetry version in deployment
  .github/workflows/python.yaml
Due: none

Reenable python package build in cicd
  .github/workflows/python.yaml
Due: none

Add FAQ entry on how to solve missing fuse mentioned in #290
  docs/index.html
Due: none

Add Workflow to upload coverage to coveralls.io
  .github/workflows/coverage.yaml
Due: none

Add cli flag to print version
  CHANGELOG.md
  src/normcap/app.py
  src/normcap/gui/constants.py
  src/normcap/utils.py
  src/tests/test_utils.py
Due: mdformat, pyupgrade, autoflake, isort, black, pydocstyle, bandit, safety, pylint, mypy, pytest, pydeps

Fix typo in coverage workflow
  .github/workflows/coverage.yaml
Due: none

Remove concurrency in coverage workflow
  .github/workflows/coverage.yaml
Due: none

Set coverage badge to main branch
  README.md
Due: mdformat

Clear LD_PRELOAD env inside flatpak to fix #290
  src/normcap/app.py
  src/normcap/utils.py
Due: pyupgrade, autoflake, isort, black, pydocstyle, bandit, safety, pylint, mypy, pytest, pydeps

Fix fullscreen issue in Unity DE mentioned in #290
  src/normcap/gui/models.py
  src/normcap/gui/system_info.py
  src/normcap/gui/window.py
Due: pyupgrade, autoflake, isort, black, pydocstyle, bandit, safety, pylint, mypy, pytest, pydeps

Add changelog
  CHANGELOG.md
  src/normcap/gui/system_info.py
  src/normcap/gui/window.py
Due: mdformat, pyupgrade, autoflake, isort, black, pydocstyle, bandit, safety, pylint, mypy, pytest, pydeps

Better handling of gnome version parsing failures
  src/normcap/gui/tray.py
  src/normcap/gui/window.py
  src/normcap/screengrab/__init__.py
  src/normcap/screengrab/utils.py
  src/tests/integration/test_normcap.py
  src/tests/tests_screengrab/test_utils.py
Due: pyupgrade, autoflake, isort, black, pydocstyle, bandit, safety, pylint, mypy, pytest, pydeps

Add entry in changelog
  CHANGELOG.md
Due: mdformat

Replace packaging as dependency with own simplified version class
  poetry.lock
  pyproject.toml
  src/normcap/gui/update_check.py
  src/normcap/ocr/models.py
  src/normcap/ocr/utils.py
  src/normcap/screengrab/utils.py
  src/normcap/version.py
  src/tests/conftest.py
  src/tests/test_app.py
  src/tests/test_version.py
  src/tests/tests_screengrab/test_utils.py
Due: pyupgrade, autoflake, isort, black, pydocstyle, bandit, safety, pylint, mypy, pytest, pydeps

Avoid barely used imports
  src/normcap/gui/models.py
  src/normcap/gui/update_check.py
  src/normcap/ocr/models.py
  src/normcap/screengrab/dbus_portal.py
  src/tests/conftest.py
  src/tests/tests_gui/test_update_check.py
Due: pyupgrade, autoflake, isort, black, pydocstyle, bandit, safety, pylint, mypy, pytest, pydeps

Update deps
  poetry.lock
  pyproject.toml
Due: none

Add python 3.11
  poetry.lock
  pyproject.toml
Due: none

Update pytest to a version which doesn't need py anymore
  poetry.lock
  pyproject.toml
Due: none

Update pytest to a version which doesn't need py anymore (#300)
  poetry.lock
  pyproject.toml
Due: none

Make own Version comparable against packaging.Version
  src/normcap/version.py
  src/tests/test_version.py
Due: pyupgrade, autoflake, isort, black, pydocstyle, bandit, safety, pylint, mypy, pytest, pydeps
