Repository dynobo/normcap: changes, and which pre-commit hooks are due for each by the changed paths.
All: mdformat, pyupgrade, autoflake, isort, black, pydocstyle, bandit, safety, pylint, mypy, pytest, pydeps

.pre-commit-config.yaml:

# See https://pre-commit.com/ for usage and config
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.0.1
    hooks:
      - id: check-yaml
      - id: check-toml
      - id: end-of-file-fixer
        exclude: ".srt$"
      - id: trailing-whitespace
        exclude: ".srt$"
      - id: mixed-line-ending
  - repo: local
    hooks:
      - id: mdformat
        name: mdformat
        stages: [commit]
        language: system
        entry: poetry run mdformat --wrap 88
        types: [markdown]

      - id: pyupgrade
        name: pyupgrade
        stages: [commit]
        language: system
        entry: poetry run pyupgrade --py39-plus
        types: [python]

      - id: autoflake
        name: autoflake
        entry: poetry run autoflake
        language: system
        args:
          - --recursive
          - --in-place
          - --remove-all-unused-imports
          - --remove-unused-variables
          - --expand-star-imports
          - --exclude
          - __init__.py
          - --remove-duplicate-keys
        types: [python]

      - id: isort
        name: isort
        stages: [commit]
        language: system
        entry: poetry run isort --jobs=0 src/normcap src/tests/ package/
        types: [python]

      - id: black
        name: black
        stages: [commit]
        language: system
        entry: poetry run black src/normcap src/tests/ package/
        types: [python]

      - id: pydocstyle
        name: pydocstyle
        stages: [commit]
        language: system
        entry: poetry run pydocstyle src/normcap src/tests/ package/
        types: [python]
        pass_filenames: false

      - id: bandit
        name: bandit
        stages: [commit]
        language: system
        entry: poetry run bandit --quiet --severity-level medium -r src/normcap
        types: [python]
        pass_filenames: false

      - id: safety
        name: safety
        stages: [commit]
        language: system
        entry: poetry run safety check
        types: [python]
        pass_filenames: false

      - id: pylint
        name: pylint
        stages: [commit]
        language: system
        entry: poetry run pylint src/normcap src/tests package/
        types: [python]
        pass_filenames: false

      - id: mypy
        name: mypy
        stages: [commit]
        language: system
        entry: poetry run mypy
        types: [python]
        pass_filenames: false

      - id: pytest
        name: pytest
        stages: [commit]
        language: system
        entry:
          poetry run pytest src/tests/ -vv --cov --cov-report xml:cov.xml
          --cov-report html
        types: [python]
        pass_filenames: false

      - id: pydeps
        name: pydeps
        stages: [commit]
        language: system
        entry:
          poetry run pydeps src/normcap --max-bacon=2 --cluster
          --max-cluster-size=1 --no-show -o=dependency_graph.png -T=png
        types: [python]
        pass_filenames: false

Make own Version comparable against packaging.Version (#301)
  src/normcap/version.py
  src/tests/test_version.py
Due: pyupgrade, autoflake, isort, black, pydocstyle, bandit, safety, pylint, mypy, pytest, pydeps

Remove using logfile on Windows, log to screen instead
  CHANGELOG.md
  docs/index.html
  src/normcap/utils.py
Due: mdformat, pyupgrade, autoflake, isort, black, pydocstyle, bandit, safety, pylint, mypy, pytest, pydeps

Remove using logfile on Windows, log to screen instead (#302)
  CHANGELOG.md
  docs/index.html
  src/normcap/utils.py
Due: mdformat, pyupgrade, autoflake, isort, black, pydocstyle, bandit, safety, pylint, mypy, pytest, pydeps

Escape certain chars before passing to notify-send
  .gitignore
  CHANGELOG.md
  pyproject.toml
  src/normcap/gui/notifier.py
Due: mdformat, pyupgrade, autoflake, isort, black, pydocstyle, bandit, safety, pylint, mypy, pytest, pydeps

Escape certain chars before passing to notify-send (#303)
  .gitignore
  CHANGELOG.md
  pyproject.toml
  src/normcap/gui/notifier.py
Due: mdformat, pyupgrade, autoflake, isort, black, pydocstyle, bandit, safety, pylint, mypy, pytest, pydeps

Add changelog date
  CHANGELOG.md
Due: mdformat

Bump to 0.3.14
  README.md
  docs/index.html
  package/normcap.wxs
  pyproject.toml
  src/normcap/__init__.py
Due: mdformat, pyupgrade, autoflake, isort, black, pydocstyle, bandit, safety, pylint, mypy, pytest, pydeps

Add screenshots used for ms store
  assets/screenshots-win11/screenshot_01.png
  assets/screenshots-win11/screenshot_01_annotated.png
  assets/screenshots-win11/screenshot_02.png
  assets/screenshots-win11/screenshot_02_annotated.png
  assets/screenshots-win11/screenshot_03.png
  assets/screenshots-win11/screenshot_03_annotated.png
  assets/screenshots-win11/screenshot_04.png
  assets/screenshots-win11/screenshot_04_annotated.png
  assets/screenshots-win11/screenshot_05.png
Due: none

Remove log- and tessdata folder on uninstall
  package/platforms/windows_briefcase.py
Due: pyupgrade, autoflake, isort, black, pydocstyle, bandit, safety, pylint, mypy, pytest, pydeps

Add entry in changelog
  CHANGELOG.md
Due: mdformat

Remove log- and tessdata folder on uninstall (#307)
  CHANGELOG.md
  package/platforms/windows_briefcase.py
Due: mdformat, pyupgrade, autoflake, isort, black, pydocstyle, bandit, safety, pylint, mypy, pytest, pydeps

Add possibility to capture via left click on tray icon
  CHANGELOG.md
  src/normcap/gui/tray.py
  src/tests/tests_gui/test_utils.py
Due: mdformat, pyupgrade, autoflake, isort, black, pydocstyle, bandit, safety, pylint, mypy, pytest, pydeps

Reenable bundle tesseract; fix line length
  package/platforms/windows_briefcase.py
Due: pyupgrade, autoflake, isort, black, pydocstyle, bandit, safety, pylint, mypy, pytest, pydeps

Poetry update
  poetry.lock
Due: none

Feature/capture on left click tray (#308)
  CHANGELOG.md
  package/platforms/windows_briefcase.py
  poetry.lock
  src/normcap/gui/tray.py
  src/tests/tests_gui/test_utils.py
Due: mdformat, pyupgrade, autoflake, isort, black, pydocstyle, bandit, safety, pylint, mypy, pytest, pydeps

Build with briefcase as default
  package/build.py
Due: pyupgrade, autoflake, isort, black, pydocstyle, bandit, safety, pylint, mypy, pytest, pydeps

Build with briefcase as default (#309)
  package/build.py
Due: pyupgrade, autoflake, isort, black, pydocstyle, bandit, safety, pylint, mypy, pytest, pydeps

Replace multiple linters with ruff
  .github/workflows/python.yaml
  .pre-commit-config.yaml
  poetry.lock
  pyproject.toml
Due: none

Remove pylint exclusions
  package/platforms/utils.py
  package/platforms/windows_briefcase.py
  src/normcap/clipboard/windows.py
  src/normcap/gui/downloader_urllib.py
  src/normcap/gui/notifier.py
  src/normcap/gui/update_check.py
  src/normcap/gui/utils.py
  src/normcap/ocr/magics/base_magic.py
  src/normcap/screengrab/__init__.py
  src/normcap/screengrab/utils.py
  src/tests/test_utils.py
  src/tests/tests_clipboard/test_linux.py
  src/tests/tests_gui/test_utils.py
  src/tests/tests_screengrab/test_utils.py
Due: pyupgrade, autoflake, isort, black, pydocstyle, bandit, safety, pylint, mypy, pytest, pydeps

First set of ruff specific changes
  .github/workflows/python.yaml
  .pre-commit-config.yaml
  package/platforms/windows_briefcase.py
  poetry.lock
  pyproject.toml
  src/normcap/app.py
  src/normcap/clipboard/linux.py
  src/normcap/clipboard/macos.py
  src/normcap/clipboard/qt.py
  src/normcap/clipboard/windows.py
  src/normcap/gui/downloader_qtnetwork.py
  src/normcap/gui/downloader_urllib.py
  src/normcap/gui/models.py
  src/normcap/gui/notifier.py
  src/normcap/gui/settings.py
  src/normcap/gui/settings_menu.py
  src/normcap/gui/system_info.py
  src/normcap/gui/tray.py
  src/normcap/gui/update_check.py
  src/normcap/gui/utils.py
  src/normcap/gui/window.py
  src/normcap/ocr/enhance.py
  src/normcap/ocr/models.py
  src/normcap/ocr/utils.py
  src/normcap/screengrab/dbus_portal.py
  src/normcap/screengrab/dbus_shell.py
  src/normcap/screengrab/utils.py
  src/normcap/utils.py
  src/normcap/version.py
Due: pyupgrade, autoflake, isort, black, pydocstyle, bandit, safety, pylint, mypy, pytest, pydeps

Several type hint fixes
  package/platforms/linux_briefcase.py
  poetry.lock
  pyproject.toml
  src/normcap/app.py
  src/normcap/clipboard/windows.py
  src/normcap/gui/notifier.py
  src/normcap/gui/settings.py
  src/normcap/gui/settings_menu.py
  src/normcap/gui/system_info.py
  src/normcap/gui/tray.py
  src/normcap/gui/update_check.py
  src/normcap/gui/utils.py
  src/normcap/gui/window.py
  src/normcap/ocr/recognize.py
  src/normcap/ocr/utils.py
  src/normcap/screengrab/dbus_shell.py
  src/normcap/screengrab/utils.py
  src/normcap/utils.py
  src/normcap/version.py
  src/tests/tests_gui/test_system_info.py
Due: pyupgrade, autoflake, isort, black, pydocstyle, bandit, safety, pylint, mypy, pytest, pydeps

Fix tests
  src/normcap/gui/utils.py
  src/tests/tests_gui/test_system_info.py
Due: pyupgrade, autoflake, isort, black, pydocstyle, bandit, safety, pylint, mypy, pytest, pydeps

Revert type hint syntax
  package/platforms/utils.py
  poetry.lock
  pyproject.toml
  src/normcap/app.py
  src/normcap/clipboard/windows.py
  src/normcap/gui/models.py
  src/normcap/gui/settings_menu.py
  src/normcap/gui/system_info.py
  src/normcap/gui/utils.py
  src/normcap/gui/window.py
  src/normcap/ocr/enhance.py
  src/normcap/ocr/models.py
  src/normcap/ocr/recognize.py
  src/normcap/screengrab/dbus_portal.py
  src/normcap/screengrab/utils.py
Due: pyupgrade, autoflake, isort, black, pydocstyle, bandit, safety, pylint, mypy, pytest, pydeps

Fix build script
  package/platforms/utils.py
  pyproject.toml
Due: pyupgrade, autoflake, isort, black, pydocstyle, bandit, safety, pylint, mypy, pytest, pydeps

Use dataclass field instead of mutable default to fix #311
  CHANGELOG.md
  src/normcap/gui/models.py
Due: mdformat, pyupgrade, autoflake, isort, black, pydocstyle, bandit, safety, pylint, mypy, pytest, pydeps

Reorder classes
  src/normcap/gui/models.py
Due: pyupgrade, autoflake, isort, black, pydocstyle, bandit, safety, pylint, mypy, pytest, pydeps

Use dataclass field instead of mutable default to fix #311 (#312)
  CHANGELOG.md
  src/normcap/gui/models.py
Due: mdformat, pyupgrade, autoflake, isort, black, pydocstyle, bandit, safety, pylint, mypy, pytest, pydeps

Don't build nutika in cicd
  .github/workflows/python.yaml
  package/build.py
  poetry.lock
  pyproject.toml
Due: pyupgrade, autoflake, isort, black, pydocstyle, bandit, safety, pylint, mypy, pytest, pydeps

Don't build nutika in cicd (#313)
  .github/workflows/python.yaml
  package/build.py
  poetry.lock
  pyproject.toml
Due: pyupgrade, autoflake, isort, black, pydocstyle, bandit, safety, pylint, mypy, pytest, pydeps

Use mirror tesseract binaries
  package/platforms/utils.py
Due: pyupgrade, autoflake, isort, black, pydocstyle, bandit, safety, pylint, mypy, pytest, pydeps

Try upload windows build
  .github/workflows/python.yaml
Due: none

Fix windows clipboard
  src/normcap/clipboard/windows.py
Due: pyupgrade, autoflake, isort, black, pydocstyle, bandit, safety, pylint, mypy, pytest, pydeps

Hide debug infos
  src/normcap/gui/window.py
Due: pyupgrade, autoflake, isort, black, pydocstyle, bandit, safety, pylint, mypy, pytest, pydeps

Use mirror tesseract binaries (#314)
  .github/workflows/python.yaml
  package/platforms/utils.py
Due: pyupgrade, autoflake, isort, black, pydocstyle, bandit, safety, pylint, mypy, pytest, pydeps

Fix missing variable
  src/normcap/gui/window.py
Due: pyupgrade, autoflake, isort, black, pydocstyle, bandit, safety, pylint, mypy, pytest, pydeps

Add missing type
  src/normcap/clipboard/windows.py
Due: pyupgrade, autoflake, isort, black, pydocstyle, bandit, safety, pylint, mypy, pytest, pydeps

Ignore ruff cache
  .gitignore
Due: none

Remove platform dependent type hint
  src/normcap/screengrab/dbus_shell.py
Due: pyupgrade, autoflake, isort, black, pydocstyle, bandit, safety, pylint, mypy, pytest, pydeps
