Repository dynobo/normcap: changes, and which pre-commit hooks are due for each by the changed paths.
All: mdformat, pyupgrade, autoflake, isort, black, pydocstyle, bandit, safety, pylint, mypy, pytest, pydeps

.pre-commit-config.yaml:

# See https://pre-commit.com/ for usage and config
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.0.1
    hooks:
      - id: check-yaml
      - id: check-toml
      - id: end-of-file-fixer
        exclude: ".srt$"
      - id: trailing-whitespace
        exclude: ".srt$"
      - id: mixed-line-ending
  - repo: local
    hooks:
      - id: mdformat
        name: mdformat
        stages: [commit]
        language: system
        entry: poetry run mdformat --wrap 88
        types: [markdown]

      - id: pyupgrade
        name: pyupgrade
        stages: [commit]
        language: system
        entry: poetry run pyupgrade --py39-plus
        types: [python]

      - id: autoflake
        name: autoflake
        entry: poetry run autoflake
        language: system
        args:
          - --recursive
          - --in-place
          - --remove-all-unused-imports
          - --remove-unused-variables
          - --expand-star-imports
          - --exclude
          - __init__.py
          - --remove-duplicate-keys
        types: [python]

      - id: isort
        name: isort
        stages: [commit]
        language: system
        entry: poetry run isort --jobs=0 src/normcap src/tests/ package/
        types: [python]

      - id: black
        name: black
        stages: [commit]
        language: system
        entry: poetry run black src/normcap src/tests/ package/
        types: [python]

      - id: pydocstyle
        name: pydocstyle
        stages: [commit]
        language: system
        entry: poetry run pydocstyle src/normcap src/tests/ package/
        types: [python]
        pass_filenames: false

      - id: bandit
        name: bandit
        stages: [commit]
        language: system
        entry: poetry run bandit --quiet --severity-level medium -r src/normcap
        types: [python]
        pass_filenames: false

      - id: safety
        name: safety
        stages: [commit]
        language: system
        entry: poetry run safety check
        types: [python]
        pass_filenames: false

      - id: pylint
        name: pylint
        stages: [commit]
        language: system
        entry: poetry run pylint src/normcap src/tests package/
        types: [python]
        pass_filenames: false

      - id: mypy
        name: mypy
        stages: [commit]
        language: system
        entry: poetry run mypy
        types: [python]
        pass_filenames: false

      - id: pytest
        name: pytest
        stages: [commit]
        language: system
        entry:
          poetry run pytest src/tests/ -vv --cov --cov-report xml:cov.xml
          --cov-report html
        types: [python]
        pass_filenames: false

      - id: pydeps
        name: pydeps
        stages: [commit]
        language: system
        entry:
          poetry run pydeps src/normcap --max-bacon=2 --cluster
          --max-cluster-size=1 --no-show -o=dependency_graph.png -T=png
        types: [python]
        pass_filenames: false

feat: use jeepney for legacy dbus portal calls on older pyside versions
  poetry.lock
  pyproject.toml
  src/normcap/screengrab/__init__.py
  src/normcap/screengrab/dbus_portal_legacy.py
  src/tests/tests_screengrab/test_init.py
  src/tests/tests_screengrab/test_utils.py
Due: pyupgrade, autoflake, isort, black, pydocstyle, bandit, safety, pylint, mypy, pytest, pydeps

style: run formatter
  README.md
  sonar-project.properties
Due: mdformat

refactor: switch from jeepney to qt for dbus portal request
  poetry.lock
  pyproject.toml
  src/normcap/screengrab/dbus_portal.py
Due: pyupgrade, autoflake, isort, black, pydocstyle, bandit, safety, pylint, mypy, pytest, pydeps

ci: bump python version to 3.11
  .github/workflows/coverage.yaml
  .github/workflows/python.yaml
  CHANGELOG.md
Due: mdformat

chore: add aur votes badge
  README.md
Due: mdformat

feat: introduce screenshot exceptions and raise accordingly
  src/normcap/screengrab/__init__.py
  src/normcap/screengrab/dbus_portal.py
Due: pyupgrade, autoflake, isort, black, pydocstyle, bandit, safety, pylint, mypy, pytest, pydeps

refactor: improve dbus exception handling
  src/normcap/screengrab/dbus_portal.py
Due: pyupgrade, autoflake, isort, black, pydocstyle, bandit, safety, pylint, mypy, pytest, pydeps

refactor: simplify icon selection and loading
  src/normcap/gui/menu_button.py
  src/normcap/gui/notifier.py
  src/normcap/gui/tray.py
  src/normcap/gui/update_check.py
  src/normcap/gui/utils.py
  src/normcap/gui/window.py
  src/normcap/resources/normcap-parse.svg
  src/normcap/resources/normcap-raw.svg
  src/normcap/resources/normcap-settings.svg
  src/normcap/resources/tool-magic-symbolic.png
  src/tests/tests_gui/test_system_info.py
  src/tests/tests_gui/test_utils.py
Due: pyupgrade, autoflake, isort, black, pydocstyle, bandit, safety, pylint, mypy, pytest, pydeps

chore: replace safety by pip-audit due to license change
  .github/workflows/python.yaml
  .pre-commit-config.yaml
  package/platforms/utils.py
  poetry.lock
  pyproject.toml
Due: pyupgrade, autoflake, isort, black, pydocstyle, bandit, safety, pylint, mypy, pytest, pydeps

build: use correct arch in package filename on M1
  package/platforms/macos_briefcase.py
Due: pyupgrade, autoflake, isort, black, pydocstyle, bandit, safety, pylint, mypy, pytest, pydeps

build: dynamically find path to tesseract as it can differ
  .github/workflows/python.yaml
  package/platforms/macos_briefcase.py
  pyproject.toml
Due: pyupgrade, autoflake, isort, black, pydocstyle, bandit, safety, pylint, mypy, pytest, pydeps

docs: add link to arm64 build
  README.md
  docs/index.html
Due: mdformat

chore: adjust tessdata description files
  .gitignore
  src/normcap/resources/tessdata/LICENSE.txt
  src/normcap/resources/tessdata/README.txt
  src/normcap/resources/tessdata/add_more_languages.txt
  src/tests/test_utils.py
Due: pyupgrade, autoflake, isort, black, pydocstyle, bandit, safety, pylint, mypy, pytest, pydeps

feat: initial working version of language downloader
  CHANGELOG.md
  src/normcap/gui/constants.py
  src/normcap/gui/languages.py
  src/normcap/gui/menu_button.py
  src/normcap/gui/tray.py
  src/normcap/resources/tessdata/README.txt
  src/normcap/screengrab/dbus_portal.py
  src/normcap/utils.py
  src/tests/tests_gui/test_constants.py
Due: mdformat, pyupgrade, autoflake, isort, black, pydocstyle, bandit, safety, pylint, mypy, pytest, pydeps

feat: change downloader to return response in bytes
  src/normcap/gui/downloader.py
  src/normcap/gui/update_check.py
  src/tests/tests_gui/test_downloader.py
  src/tests/tests_gui/test_update_check.py
Due: pyupgrade, autoflake, isort, black, pydocstyle, bandit, safety, pylint, mypy, pytest, pydeps

feat: add language managment ui (non-functional)
  src/normcap/gui/constants.py
  src/normcap/gui/languages.py
  src/normcap/gui/menu_button.py
  src/normcap/gui/tray.py
  src/normcap/gui/window.py
Due: pyupgrade, autoflake, isort, black, pydocstyle, bandit, safety, pylint, mypy, pytest, pydeps

feat: update language menu after languages changed
  src/normcap/gui/languages.py
  src/normcap/gui/menu_button.py
  src/normcap/gui/tray.py
  src/normcap/gui/window.py
  src/normcap/ocr/utils.py
Due: pyupgrade, autoflake, isort, black, pydocstyle, bandit, safety, pylint, mypy, pytest, pydeps

feat: ensure sane language settings upon language removal
  src/normcap/gui/languages.py
  src/normcap/gui/tray.py
Due: pyupgrade, autoflake, isort, black, pydocstyle, bandit, safety, pylint, mypy, pytest, pydeps

feat: deny removal of last language
  src/normcap/gui/languages.py
Due: pyupgrade, autoflake, isort, black, pydocstyle, bandit, safety, pylint, mypy, pytest, pydeps

feat: make downloader unblocking by moving to different thread
  CHANGELOG.md
  src/normcap/gui/downloader.py
Due: mdformat, pyupgrade, autoflake, isort, black, pydocstyle, bandit, safety, pylint, mypy, pytest, pydeps

feat: add loading indicator to language manager
  src/normcap/gui/languages.py
Due: pyupgrade, autoflake, isort, black, pydocstyle, bandit, safety, pylint, mypy, pytest, pydeps

feat: return download failed reason
  src/normcap/gui/downloader.py
  src/tests/tests_gui/test_downloader.py
Due: pyupgrade, autoflake, isort, black, pydocstyle, bandit, safety, pylint, mypy, pytest, pydeps

feat: handle failed language downloads
  src/normcap/gui/languages.py
Due: pyupgrade, autoflake, isort, black, pydocstyle, bandit, safety, pylint, mypy, pytest, pydeps

refactor: rename language manager window
  src/normcap/gui/language_manager.py
  src/normcap/gui/tray.py
Due: pyupgrade, autoflake, isort, black, pydocstyle, bandit, safety, pylint, mypy, pytest, pydeps

test: add language manager ui test
  src/normcap/gui/language_manager.py
  src/normcap/gui/utils.py
  src/tests/tests_gui/test_language_manager.py
Due: pyupgrade, autoflake, isort, black, pydocstyle, bandit, safety, pylint, mypy, pytest, pydeps

test: add language manager ui test
  src/normcap/gui/language_manager.py
  src/normcap/gui/utils.py
  src/normcap/utils.py
  src/tests/tests_gui/test_downloader.py
  src/tests/tests_gui/test_language_manager.py
  src/tests/tests_gui/test_utils.py
Due: pyupgrade, autoflake, isort, black, pydocstyle, bandit, safety, pylint, mypy, pytest, pydeps

refactor: pull languages out of menu button
  src/normcap/gui/menu_button.py
  src/normcap/gui/window.py
Due: pyupgrade, autoflake, isort, black, pydocstyle, bandit, safety, pylint, mypy, pytest, pydeps

chore: move package includes into pyproject.toml
  MANIFEST.in
  pyproject.toml
Due: none
