Repository dynobo/normcap: changes, and which pre-commit hooks are due for each by the changed paths.
All: mdformat, pyupgrade, autoflake, isort, black, pydocstyle, bandit, safety, pylint, mypy, pytest, pydeps

.pre-commit-config.yaml:

# See https://pre-commit.com/ for usage and config
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.0.1
    hooks:
      - id: check-yaml
      - id: check-toml
      - id: end-of-file-fixer
        exclude: ".srt$"
      - id: trailing-whitespace
        exclude: ".srt$"
      - id: mixed-line-ending
  - repo: local
    hooks:
      - id: mdformat
        name: mdformat
        stages: [commit]
        language: system
        entry: poetry run mdformat --wrap 88
        types: [markdown]

      - id: pyupgrade
        name: pyupgrade
        stages: [commit]
        language: system
        entry: poetry run pyupgrade --py39-plus
        types: [python]

      - id: autoflake
        name: autoflake
        entry: poetry run autoflake
        language: system
        args:
          - --recursive
          - --in-place
          - --remove-all-unused-imports
          - --remove-unused-variables
          - --expand-star-imports
          - --exclude
          - __init__.py
          - --remove-duplicate-keys
        types: [python]

      - id: isort
        name: isort
        stages: [commit]
        language: system
        entry: poetry run isort --jobs=0 src/normcap src/tests/ package/
        types: [python]

      - id: black
        name: black
        stages: [commit]
        language: system
        entry: poetry run black src/normcap src/tests/ package/
        types: [python]

      - id: pydocstyle
        name: pydocstyle
        stages: [commit]
        language: system
        entry: poetry run pydocstyle src/normcap src/tests/ package/
        types: [python]
        pass_filenames: false

      - id: bandit
        name: bandit
        stages: [commit]
        language: system
        entry: poetry run bandit --quiet --severity-level medium -r src/normcap
        types: [python]
        pass_filenames: false

      - id: safety
        name: safety
        stages: [commit]
        language: system
        entry: poetry run safety check
        types: [python]
        pass_filenames: false

      - id: pylint
        name: pylint
        stages: [commit]
        language: system
        entry: poetry run pylint src/normcap src/tests package/
        types: [python]
        pass_filenames: false

      - id: mypy
        name: mypy
        stages: [commit]
        language: system
        entry: poetry run mypy
        types: [python]
        pass_filenames: false

      - id: pytest
        name: pytest
        stages: [commit]
        language: system
        entry:
          poetry run pytest src/tests/ -vv --cov --cov-report xml:cov.xml
          --cov-report html
        types: [python]
        pass_filenames: false

      - id: pydeps
        name: pydeps
        stages: [commit]
        language: system
        entry:
          poetry run pydeps src/normcap --max-bacon=2 --cluster
          --max-cluster-size=1 --no-show -o=dependency_graph.png -T=png
        types: [python]
        pass_filenames: false

Fix windows related issues
  .gitignore
  src/normcap/clipboard/windows.py
  src/normcap/gui/window.py
  src/normcap/screengrab/dbus_shell.py
Due: pyupgrade, autoflake, isort, black, pydocstyle, bandit, safety, pylint, mypy, pytest, pydeps

Remove nuitka from readme for now
  README.md
Due: mdformat

Make gif clickable
  docs/index.html
  docs/style.css
Due: none

Remove deprecated deps
  poetry.lock
  pyproject.toml
Due: none

Fix mutable default in dataclass
  src/normcap/gui/models.py
Due: pyupgrade, autoflake, isort, black, pydocstyle, bandit, safety, pylint, mypy, pytest, pydeps

Bump to 0.3.15
  README.md
  docs/index.html
  package/normcap.wxs
  pyproject.toml
  src/normcap/__init__.py
Due: mdformat, pyupgrade, autoflake, isort, black, pydocstyle, bandit, safety, pylint, mypy, pytest, pydeps

Add function to bundle ub mannheims tesseract binaries
  package/platforms/utils.py
  package/platforms/windows_briefcase.py
Due: pyupgrade, autoflake, isort, black, pydocstyle, bandit, safety, pylint, mypy, pytest, pydeps

Add screenshots used for ms store
  assets/screenshots-win11/screenshot_01.png
  assets/screenshots-win11/screenshot_01_annotated.png
  assets/screenshots-win11/screenshot_02.png
  assets/screenshots-win11/screenshot_02_annotated.png
  assets/screenshots-win11/screenshot_03.png
  assets/screenshots-win11/screenshot_03_annotated.png
  assets/screenshots-win11/screenshot_04.png
  assets/screenshots-win11/screenshot_04_annotated.png
  assets/screenshots-win11/screenshot_05.png
Due: none

refactor: consolidate fullscreen methods for platforms
  src/normcap/gui/models.py
  src/normcap/gui/system_info.py
  src/normcap/gui/window.py
Due: pyupgrade, autoflake, isort, black, pydocstyle, bandit, safety, pylint, mypy, pytest, pydeps

refactor: simplify selection rectangle model and calculation
  src/normcap/gui/models.py
  src/normcap/gui/window.py
  src/normcap/version.py
  src/tests/tests_gui/test_models.py
Due: pyupgrade, autoflake, isort, black, pydocstyle, bandit, safety, pylint, mypy, pytest, pydeps

refactor: remove unnecessary parent method; add calls to super events
  src/normcap/gui/tray.py
  src/normcap/gui/window.py
Due: pyupgrade, autoflake, isort, black, pydocstyle, bandit, safety, pylint, mypy, pytest, pydeps

packaging: use new tesseract binaries also for nuitka
  package/platforms/utils.py
  package/platforms/windows_briefcase.py
Due: pyupgrade, autoflake, isort, black, pydocstyle, bandit, safety, pylint, mypy, pytest, pydeps

refactor: remove unnecessary screenshot method
  src/normcap/gui/tray.py
Due: pyupgrade, autoflake, isort, black, pydocstyle, bandit, safety, pylint, mypy, pytest, pydeps

fix: parse cli arg language correctly
  src/normcap/gui/constants.py
  src/normcap/gui/models.py
  src/normcap/utils.py
Due: pyupgrade, autoflake, isort, black, pydocstyle, bandit, safety, pylint, mypy, pytest, pydeps

refactor: move methods from gui.utils to utils
  src/normcap/app.py
  src/normcap/gui/utils.py
  src/normcap/utils.py
  src/tests/test_utils.py
  src/tests/tests_gui/test_utils.py
Due: pyupgrade, autoflake, isort, black, pydocstyle, bandit, safety, pylint, mypy, pytest, pydeps

refactor: fix typos and improve comments
  README.md
  src/normcap/screengrab/dbus_portal.py
  src/normcap/utils.py
  src/tests/test_utils.py
Due: mdformat, pyupgrade, autoflake, isort, black, pydocstyle, bandit, safety, pylint, mypy, pytest, pydeps

refactor: extract drawing debug infos into function
  src/normcap/gui/window.py
Due: pyupgrade, autoflake, isort, black, pydocstyle, bandit, safety, pylint, mypy, pytest, pydeps

refactor: don't catch/wrap exceptions with debug loglevel
  src/normcap/app.py
Due: pyupgrade, autoflake, isort, black, pydocstyle, bandit, safety, pylint, mypy, pytest, pydeps

chore!: drop support for tesseract 4
  CHANGELOG.md
  src/normcap/app.py
  src/normcap/gui/system_info.py
Due: mdformat, pyupgrade, autoflake, isort, black, pydocstyle, bandit, safety, pylint, mypy, pytest, pydeps

refactor: simplify overriding pytesseract methods
  src/normcap/ocr/recognize.py
  src/normcap/ocr/utils.py
Due: pyupgrade, autoflake, isort, black, pydocstyle, bandit, safety, pylint, mypy, pytest, pydeps

refactor: split up exception hook into multiple functions
  src/normcap/utils.py
Due: pyupgrade, autoflake, isort, black, pydocstyle, bandit, safety, pylint, mypy, pytest, pydeps

refactor: restructure methods; introduce size propoerty to rect model
  src/normcap/gui/models.py
  src/normcap/gui/utils.py
  src/normcap/gui/window.py
Due: pyupgrade, autoflake, isort, black, pydocstyle, bandit, safety, pylint, mypy, pytest, pydeps

refactor(gui): sort constants and methods
  src/normcap/gui/constants.py
  src/normcap/gui/notifier.py
  src/normcap/gui/settings.py
  src/normcap/gui/update_check.py
  src/normcap/screengrab/dbus_shell.py
  src/normcap/screengrab/qt.py
  src/tests/tests_gui/test_update_check.py
Due: pyupgrade, autoflake, isort, black, pydocstyle, bandit, safety, pylint, mypy, pytest, pydeps

refactor: rename various objects
  README.md
  src/normcap/app.py
  src/normcap/gui/downloader.py
  src/normcap/gui/downloader_qtnetwork.py
  src/normcap/gui/menu_button.py
  src/normcap/gui/system_info.py
  src/normcap/gui/update_check.py
  src/normcap/gui/utils.py
  src/normcap/gui/window.py
  src/normcap/ocr/utils.py
  src/normcap/screengrab/dbus_portal.py
  src/normcap/screengrab/dbus_shell.py
  src/tests/conftest.py
  src/tests/tests_gui/test_downloader.py
Due: mdformat, pyupgrade, autoflake, isort, black, pydocstyle, bandit, safety, pylint, mypy, pytest, pydeps

refactor: simplify datastructure for screens to list
  src/normcap/gui/system_info.py
  src/normcap/gui/tray.py
  src/tests/tests_gui/test_system_info.py
Due: pyupgrade, autoflake, isort, black, pydocstyle, bandit, safety, pylint, mypy, pytest, pydeps

refactor: set envs in integration tests to make them more realistic; patch buildins more robustly
  src/normcap/app.py
  src/normcap/gui/tray.py
  src/tests/integration/test_normcap.py
  src/tests/test_app.py
  src/tests/test_utils.py
  src/tests/tests_gui/test_utils.py
Due: pyupgrade, autoflake, isort, black, pydocstyle, bandit, safety, pylint, mypy, pytest, pydeps

refactor: add tests for splitting full desktop image
  src/tests/tests_screengrab/split_full_desktop_to_screens.png
  src/tests/tests_screengrab/test_utils.py
Due: pyupgrade, autoflake, isort, black, pydocstyle, bandit, safety, pylint, mypy, pytest, pydeps

refactor: improve magic tests
  src/normcap/ocr/magics/__init__.py
  src/normcap/ocr/magics/magic.py
  src/normcap/ocr/recognize.py
  src/tests/conftest.py
  src/tests/tests_ocr/test_apply_magic_scores.py
  src/tests/tests_ocr/test_paragraph_magic.py
  src/tests/tests_ocr/test_url_magic.py
Due: pyupgrade, autoflake, isort, black, pydocstyle, bandit, safety, pylint, mypy, pytest, pydeps

refactor: improve app testability; add some tests
  src/normcap/app.py
  src/tests/integration/test_normcap.py
  src/tests/test_app.py
Due: pyupgrade, autoflake, isort, black, pydocstyle, bandit, safety, pylint, mypy, pytest, pydeps

deps: add typing-extensions and update others
  poetry.lock
  pyproject.toml
Due: none

refactor: run pyupdate
  package/platforms/utils.py
  package/platforms/windows_briefcase.py
  src/normcap/gui/menu_button.py
  src/normcap/gui/settings.py
  src/normcap/gui/system_info.py
  src/normcap/gui/tray.py
  src/normcap/ocr/magics/multi_line_magic.py
  src/normcap/utils.py
  src/tests/test_utils.py
Due: pyupgrade, autoflake, isort, black, pydocstyle, bandit, safety, pylint, mypy, pytest, pydeps

fix: remove type hint which breaks on windows
  src/normcap/screengrab/dbus_shell.py
Due: pyupgrade, autoflake, isort, black, pydocstyle, bandit, safety, pylint, mypy, pytest, pydeps

cicd: ensure failing tests fail pipeline
  .github/workflows/python.yaml
Due: none
